.reading-ruler{
    width: 85%;
    height:150px;
    margin: 0 auto;
}

.ruler-button{
    background-color: white;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    box-shadow: none;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    height: 30px;
    width: 96px;
}
