.reader-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.text-format-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.output-text{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 80%;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
}

.button-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.button-section button{
    margin-top: 10px;
    margin-left: 10px;
    width: 150px;
    height: 30px;
}

.output{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
