.button-section{
    display: flex;
    flex-direction: row;
    align-content: space-around;

}

.button-section button{
    margin-top: 10px;
    margin-left: 10px;
    width: 150px;
    height: 30px;
}

.output-section{
    text-align: center;
    width: 80%;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
}

.writer-text-container{
    width: 80%;
    margin-left: 10%;

}

.info{
    text-align: left;
}