@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@1,700&family=Orbitron:wght@900&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@1,700&family=Orbitron:wght@900&family=Roboto+Mono:wght@600&family=Tilt+Prism&display=swap');

.App {
  top: 0;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color:#181818;
  color: antiquewhite;
  margin-bottom: 0;
  margin-left: 20vw;
  font-family: 'Roboto Mono', monospace;
}

h1{
  margin: 0;
}

.sidebar{
  top: 0;
  left: 0;
  background-color: #444654;
  height: 100vh;
  width: 20vw;
  position: fixed;
}

.sidebar h2{
  font-family: 'Expletus Sans', sans-serif;
  font-size:xx-large;
  padding-bottom: 5%;
}


.navbar{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  height: 60%;
}

.navbar li{
  text-decoration: none;
  list-style: none;
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  width: 80%;

}

.navbar li a {
  display: block;
  text-decoration: none;
  color: antiquewhite;
  transition: color 0.3s;
}

.navbar > li:hover{
  background-color: #e2e2e9;
  color: black;
}

.navbar li a:hover {
  color: black !important;
}

.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-button{
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  box-shadow: none; 
  font-weight: bold; 
  font-family: 'Roboto Mono', monospace;
}

.auth-button:hover{
  background-color: black;
  color: white;
}

.auth-page {
  text-align: center;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
}

.copied-button{
  background-color: white;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  box-shadow: none;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}

.save-button{
  background-color: white;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  box-shadow: none;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}




