.App {
  top: 0;
  text-align: center;
  height: 100vh;
  padding: 0;
  background-color: #1f1f1f;
  color: antiquewhite;
  margin-left: 15vw;
}

.sidebar{
  top: 0;
  left: 0;
  background-color:#181818;
  height: 100vh;
  width: 15vw;
  position: fixed;
}

.navbar{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  height: 60%;
}

.navbar li{
  text-decoration: none;
  list-style: none;
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  width: 80%;

}

.navbar li a {
  display: block;
  text-decoration: none;
  color: antiquewhite;
}

.navbar > li:hover{
  background-color: #343541;
}


.profile{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
